

body,ul,p,h1,h2,h3,h4,dl,dd,form,input,textarea,select
{margin:0;padding:0;font-family:arial;}
a {text-decoration:none;}
a:hover {text-decoration:underline;}
li {list-style:none;}

body{
	background:#fff url(../images/body_bg.png) repeat-x;
}
#top{
	width:960px;
	height:30px;
	margin:0 auto;
}
.top_menu{
	float:left;
}
.top_menu li{
	float:left;
	background:url(../images/top_ico.png) no-repeat right 14px ;
	height:30px;
	line-height:30px;
	padding-right:18px;
	margin-right:16px;
	font-size:13px;
}
.top_menu a{
	color:#c0c0c0;
}
.top_menu a:hover{
	color:#fff;
}
.top_menu .no_dot{padding:0;margin:0;background:none;}

.top_bar{float:right;}
.top_bar li{
	float:left;
	height:30px;
	line-height:30px;
	
	color:#fff;
	font-size:13px;
	font-weight:bold;
	
}
.top_bar a{
	color:#fff;
}
.top_bar .phone{
	background:url(../images/top_ico.png) no-repeat 8px -16px ;
	padding:0 38px;
}
.top_bar .help{
	background:url(../images/top_ico.png) no-repeat 0 -46px ;
	padding:0 38px;
}
.top_bar .top_img1{
	margin-right:12px;
}

.ie6_png img{								/*解决ie6中图片居中问题*/	
	float:left;
	position:relative;
	top:10px;
}


#header{
	width:960px;
	margin:0 auto;
	position:relative;
	background:url(../images/header_bg.png);
}
#shopping{
	width:260px;
	height:100px;
	background:url(../images/shopping_bg.png) no-repeat;
	position:relative;
}
#shopping p{
	font-size:20px;
	padding:30px 0 0 84px;
	color:#f7f7f7;
	
}
#shopping a{
	display:block;
	width:114px;
	height:23px;
	line-height:23px;
	position:absolute;
	top:63px;
	left:104px;
	color:#ffc200;
	background:url(../images/shopping_bg.png) no-repeat 0 -100px;
	font-size:15px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
}
#shopping a:hover{
	color:#ffe388;
}
#logo{
	position:absolute;
	margin-left:50%;
	left:-119px;
	top:0;
	
}
#header .search{
	top:33px;
	right:0;
}
.search{
	width:292px;
	height:31px;
	background:url(../images/search.png) no-repeat;
	position:absolute;
}
.search .text{
	width:250px;
	height:31px;
	line-height:31px;		/*ie6兼容性问题解决  中文本框中内容不垂直居中，*/
	background:none;
	border:none;
	position:absolute;
	text-indent:20px;
	font-size:13px;
	color:#666;
	outline:none;
	
}
.search .btn{
	width:42px;
	height:31px;
	background:none;
	border:none;
	position:absolute;
	top:0;
	right:0;
}

#nav{
	width:960px;
	height:36px;
	padding-top:8px;
	margin:0 auto;
}
#nav li{
	float:left;
	height:28px;
	line-height:28px;
	margin-right:2px;
}
#nav a{
	display:block;
	height:28px;

	color:#fff;
	font-size:15px;
	text-decoration:none;
	cursor:pointer;				/*ie6兼容性问题解决*/
}

#nav strong{
	display:block;
	height:28px;
	
	font-weight:normal;
}
#nav span{
	display:block;
	height:28px;
	
	padding:0 16px;
}
#nav a:hover,#nav .active a{														/*加背景的方法  三级嵌套*/
	background:url(../images/nav_active_bg.png) repeat-x 0 -56px;
}
#nav a:hover strong,#nav .active strong{
	background:url(../images/nav_active_bg.png) no-repeat;
}
#nav a:hover span,#nav .active span{
	background:url(../images/nav_active_bg.png) no-repeat right -28px;
}

#content{																		/*加背景的方法  三级嵌套*/
	width:1000px;
	margin:24px auto 0;
	background:url(../images/content_bg.png) repeat-y -1000px 0;
}
#content_top{
	background:url(../images/content_bg.png) no-repeat 0 top;
}
#content_bottom{
	background:url(../images/content_bg.png) no-repeat -2000px bottom;
	padding-top:10px;
}

#ad{
	width:940px;
	height:300px;
	position:relative;
	
	margin:0 auto;
}
#ad .prev{
	background:url(../images/banner/prev.png) no-repeat;
	left:0px;
}
#ad .next{
	right:0px;
	background:url(../images/banner/next.png) no-repeat;
}
#ad .prev,#ad .next{
	display:none;
	height:150px;
	margin-top:-75px;
	width:75px;
	position:absolute;
	top:50%;
	z-index:3;
}
#ad .prev_bg,#ad .next_bg{
	position:absolute;
	top:0;
	height:300px;
	width:470px;
	filter:alpha(opacity=0);
	opacity:0;
	z-index:2;
}
#ad .prev_bg{
	left:0;
	background:yellow;
}
#ad .next_bg{
	right:0;
	background:red;
}
#ad ul,#ad li,#ad h2,#ad p,#ad .bg{
	position:absolute;
}
#ad ul{
	top:0;
	left:0;
}
#ad li{
	top:0;
	left:0;
	z-index:1;
}
#ad h2{
	bottom:8px;
	left:0;
	width:268px;
	text-align:center;
	color:#ffc600;
	font-size:25px;
	z-index:3;
}
#ad p{
	left:268px;
	bottom:7px;
	width:630px;
	line-height:16px;
	color:#fcc;
	font-size:13px;
	z-index:3;
}
#ad .bg{
	height:52px;
	width:940px;
	bottom:0;
	left:0;
	background:#000;
	filter:alphy(opacity:80);
	opacity:0.8;
	z-index:2;
}
.clear{												/*父级清除浮动*/
	zoom:1;
}
.clear:after{
	content:"";
	display:block;
	clear:both;
}
#main{
	width:942px;
	margin:0 auto;
	padding-top:30px;
}
#side{
	float:left;
	width:210px;
}

.module_menu{}
.module_menu h2{
	height:29px;
	background:url(../images/module_menu_bg.png) repeat-x 0 -58px;
	color:#fff;
	font-size:15px;
	line-height:29px;
	text-align:center;
	margin-bottom:1px;
}
.module_menu h2 strong{
	display:block;
	height:29px;
	background:url(../images/module_menu_bg.png) no-repeat;
}
.module_menu span{
	display:block;
	height:29px;
	background:url(../images/module_menu_bg.png) no-repeat right -29px;
}
.list{
	background:url(../images/list_bg.gif) repeat-y;
}
.list ul{
	background:url(../images/list_bg.gif) no-repeat -210px bottom;
	padding:18px 8px 15px;
}
.list li{
	
}
.list li a{
	display:block;
	height:27px;
	line-height:27px;
	border-bottom:1px solid #fff;
	color:#434343;
	font-size:12px;
	padding-left:32px;
	font-weight:bold;
}
.list li a:hover{
	background:#fae191;
	text-decoration:none;
	color:#b20e00;
	border-bottom:1px solid #b20e00;
}

.module_join{
	background:url(../images/list_bg.gif) repeat-y -630px 0;
	margin-top:13px;
}
.module_join_top{
	background:url(../images/list_bg.gif) no-repeat -420px top;
}
.module_join_bottom{
	background:url(../images/list_bg.gif) no-repeat -840px bottom;
	padding:0 8px;
}
.join_form{
	width:178px;
	margin:0 auto 12px;
	
}
.join_form p{
	padding:12px 0;
	font-size:15px;
	color:#666;
	line-height:18px;
}
.join_form .text{
	width:175px;
	height:25px;
	line-height:25px;
	background:#fff;
	border:1px solid #fff;
	border-top:1px solid #9c9c9c;
	border-left:1px solid #c0c0c0;
	text-indent:5px;
}
.join_form .btn{
	display:block;											/*<input type="submit" class="btn" value="Join Now"></input> 行内元素*/
	width:88px;
	height:25px;
	border:none;
	font-size:15px;
	color:#fff;
	font-weight:bold;
	background:url(../images/shopping_bg.png) no-repeat 0 -145px;
	margin:6px auto ;
}
.join_list{
	background:url(../images/shopping_bg.gif) no-repeat 10px 8px;
}
.join_list li{
	padding-left:62px;
	border-top:1px solid #fff;
	font-size:13px;
	color:#434343;
}
.space1{
	height:45px;
	line-height:45px;
}
.space2{
	height:40px;
	line-height:18px;
	padding-top:5px;
}
.space3{
	height:45px;
	line-height:18px;
	padding-top:5px;
}

.payment{
	margin:33px 0 0 18px;
}



#wrap{
	float:right;
	width:706px;
}

.sort{
	height:19px;
}
.sort dl{
	float:left;
	
}
.sort dt{
	float:left;
	font-size:12px;
	color:#747474;
	font-weight:bold;
	padding-right:2px;
}
.sort dd{
	float:left;
	position:relative;
	margin-right:12px;
}
.sort dd  h2{
	width:108px;
	height:17px;
	border:1px solid #ccc;
	font-size:12px;
	font-weight:normal;
	color:#747474;
	text-indent:5px;
}
.sort dd a{
	position:absolute;
	top:0;
	left:91px;
	width:19px;
	height:19px;
	background:url(../images/shopping_bg.png) 0 -376px;
	z-index:2;
}
.sort dd a:hover{
	background:url(../images/shopping_bg.png) -19px -376px;
}
.sort dd ul{
	border:1px solid #ccc;
	width:108px;
	position:absolute;
	top:18px;
	z-index:1;
	display:none;
	background:#fff;
}
.sort dd li{
	font-size:12px;
	height:20px;
	line-height:20px;
	text-indent:5px;
	
	
}
.sort .active{
	background:#099;
	color:#fff;
}
.sort p{
	float:right;
	font-size:12px;
	color:#747474;
}
.sort p strong{
	color:#999;
}
.sort p span{
	padding:0 5px;
	
	
}
.color_style{
	color:#b20e00;
}

#pic_list{
	width:706px;
	overflow:hidden;
	
}
#pic_list h2,#scroll_list h2{
	font-size:18px;
	color:#666;
	height:56px;
	line-height:62px;
	overflow:hidden;
	
}
#pic_list ul{
	width:736px;
	
}
#pic_list li{
	float:left;
	width:182px;
	height:200px;
	
}
#pic_list a{
	display:block;
	width:154px;
	height:114px;
	border:1px solid #c6c6c6;
	margin-bottom:6px;
}
#pic_list a:hover{
	border:1px solid #663;
}
#pic_list h3{
	font-size:15px;
	color:#666;
	line-height:16px;
}
#pic_list p{
	font-size:13px;
	color:#333;
	line-height:16px;
}
#pic_list span{
	color:#b20e00;
	padding:0 4px;
}

.page{
	text-align:center;
	border-bottom:1px solid #cdcdc8;
	padding-bottom:5px;
}
.page a{
	display:inline-block;
	height:20px;
	line-height:20px;
	padding:0 8px;
	color:#b20e00;
	font-size:12px;
	text-decoration:none;
	
}
.page a:hover,.page .active{
	background:#b20e00;
	color:#fff;
}
.page a span{
	font-family:'宋体';
	padding-left:4px;
}

#scroll_list{}
.scroll_wrap{
	height:196px;
	background:url(../images/scroll_bg.gif) repeat-x 0 -478px;
}
.scroll_wrap_l{
	height:196px;
	background:url(../images/scroll_bg.gif) no-repeat 0 -86px;
}
.scroll_wrap_r{
	height:196px;
	background:url(../images/scroll_bg.gif) no-repeat right -282px;
	position:relative;
}
#scroll_list .prev,#scroll_list .next{
	height:43px;
	width:35px;
	position:absolute;
	top:70px;
}
#scroll_list .prev{
	left:0;
	background:url(../images/scroll_bg.gif) no-repeat;
}
#scroll_list .next{
	right:0;
	background:url(../images/scroll_bg.gif) no-repeat 0 -43px;
}
.list_wrap{
	margin:0 auto;
	width:615px;
	padding-top:32px;
	overflow:hidden;
}
.list_wrap ul{
	height:150px;
	position:relative;
	left:0;
}
.list_wrap li{
	float:left;
	width:205px;
}

.list_wrap a{
	display:block;
	height:100px;
	width:145px;
	margin:0 auto;
}
.list_wrap p{
	width:145px;
	margin:0 auto;
	font-size:12px;
	color:#600;
	text-align:center;
	line-height:14px;
	padding-top:10px;
}

#footer{
	height:302px;
	background:url(../images/footer_bg.png) repeat-x;
	margin-top:20px;
}

#footer_bar{
	margin:0 auto;
	width:940px;
	height:60px;
	position:relative;
}
#footer_bar li{
	float:left;
	color:#cbcbcb;
	font-size:14px;
	font-weight:bold;
	height:60px;
	line-height:60px;	
}
#footer_bar .pic_1{
	background:url(../images/footer_info.png) no-repeat 0 4px;
	text-indent:60px;
	margin-right:25px;
}
#footer_bar .pic_2{
	background:url(../images/footer_info.png) no-repeat 0 -52px;
	text-indent:50px;
}
#footer .search{
	top:15px;
	right:-10px;
}

#footer_link{
	width:920px;
	margin:0 auto;
	padding-top:20px;
}
#footer_link dl{
	float:left;
	width:184px;
}
#footer_link dt{
	font-size:15px;
	color:#fff;
	font-weight:bold;
	line-height:50px;
}
#footer_link dd{
	line-height:20px;
	
}
#footer_link a{
	font-size:13px;
	color:#cfcfcf;
}
#footer_link .space{
	position:relative;
	left:-20px;
}
#footer_link .pos{
	margin-top:20px;
}